# exclude all
/*

# project files
!Firefly.t
!Firefly.t3m
!Firefly_Web.t3m
!GameInfo.txt

# release files
!Firefly.t3
!Firefly_Web.t3

# folders
!docs/
!obj/.gitkeep

# include git files
!.gitignore
!index.html
!README.md
